<link rel="stylesheet"
    href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="header-container">
    <!-- <h3>{{rpsGame._challenger.username}}</h3> -->
    <img id="vs-swords" src="../../../../assets/swords-svgrepo-com.svg">
    <!-- <h3>{{rpsGame._challenged.username}}</h3> -->
</div>

<!-- Where the selected choices are displayed -->
<div class="choice-container">
    <!-- The active player's choice is always displayed -->
    <div *ngIf="isInGame(activeUser)">
        <div [ngSwitch]="rps" class="choice" [ngClass]="{excluded: isExcluded(activeUser.id)}">
            <div class="chosen">
                <img class="svg" *ngSwitchCase="'r'" src="../../../../assets/rock-svgrepo-com.svg">
                <img class="svg" *ngSwitchCase="'p'" src="../../../../assets/paper-svgrepo-com.svg">
                <img class="svg" *ngSwitchCase="'s'" src="../../../../assets/scissors-svgrepo-com.svg">
            </div>
            <div class="choice-info">
                <div class="score">
                    {{getScore(activeUser.id)}}
                </div>
                <h4 class="choice-username">{{activeUser.username}}</h4>
            </div>
        </div>
    </div>

    <!-- When the game is unresolved-->
    <div *ngFor="let playerId of rpsGame.playerIds">
        <div *ngIf="!showResolveBanner && !isActive(playerId)" class="choice"
            [ngClass]="{excluded: isExcluded(playerId)}">
            <div class="chosen">
                <h4>?¿?</h4>
            </div>
            <div class="choice-info">
                <div class="score">
                    {{getScore(playerId)}}
                </div>
                <h4 class="choice-username">{{getUsername(playerId)}}</h4>
            </div>
        </div>
    </div>

    <!-- When the game is resolved-->
    <div *ngFor="let choiceTup of choices">
        <div *ngIf="showResolveBanner && !isActive(choiceTup[0])" [ngSwitch]="choiceTup[1]" class="choice"
            [ngClass]="{excluded: isExcluded(choiceTup[0])}">
            <div class="chosen">
                <!-- RPS SVGs -->
                <img class="svg" *ngSwitchCase="'r'" src="../../../../assets/rock-svgrepo-com.svg">
                <img class="svg" *ngSwitchCase="'p'" src="../../../../assets/paper-svgrepo-com.svg">
                <img class="svg" *ngSwitchCase="'s'" src="../../../../assets/scissors-svgrepo-com.svg">
            </div>
            <div class="choice-info">
                <div class="score">
                    {{getScore(choiceTup[0])}}
                </div>
                <h4 class="choice-username">{{getUsername(choiceTup[0])}}</h4>
            </div>
        </div>
    </div>


</div>
<!-- Pops in and out to display the winner of each game -->
<div class="winner-banner">
    <h4 *ngIf="showResolveBanner">
        {{resolveMessage}}
    </h4>
</div>

<!-- Pops in and out to display the winner of each game -->
<div class="winner-banner">
    <h4 *ngIf="showGgBanner">
        {{ggBanner}}
    </h4>
</div>

<div class="interact" *ngIf="isInGame(activeUser) && !rpsGame.gameOver">

    <p *ngIf="!checkConnections()">
        Waiting for opponents
    </p>

    <button class="interact-btn enter" *ngIf="isInGame(activeUser) && !isConnected(activeUser)"
        (click)="acceptChallenge(rpsGame.id)">Commence Deathmatch</button>

    <div class="button-container" *ngIf="checkConnections() && !isExcluded(activeUser.id)"
        [attr.tabindex]="rpsGame.fastMode ? '0' : null" (keyup)="onKey($event)" #interact>
        <div class="tooltips">
            <p *ngIf="rpsGame.fastMode" class="btn-tooltip">1</p>
            <p *ngIf="rpsGame.fastMode" class="btn-tooltip">2</p>
            <p *ngIf="rpsGame.fastMode" class="btn-tooltip">3</p>
        </div>
        <div class="choose-buttons" [ngClass]="{finalized: choiceFinalized}">
            <img [ngClass]="{'kamen-najjaci': kamenNajjaci}" class="choice-button"
                src="../../../../assets/rock-pngrepo-com.png" (click)="chooseRPS('r')">
            <img class="choice-button" src="../../../../assets/paper-pngrepo-com.png" (click)="chooseRPS('p')">
            <img class="choice-button" src="../../../../assets/scissors-pngrepo-com.png" (click)="chooseRPS('s')">
        </div>

        <button class="interact-btn" *ngIf="!choiceFinalized && checkConnections() && !rpsGame.fastMode"
            [ngClass]="{'no-choice': !rps}" (click)="submitRPS()">Finalize</button>
    </div>
</div>

<div class="interact" *ngIf="!userIs()">
    <button class="interact-btn" (click)="spectateGame()">Spectate</button>
</div>

<div class="info">

    <p class="waiting" [ngStyle]="{visibility: choiceFinalized && !showResolveBanner ? 'visible' : 'hidden'}">Waiting
        for
        opponents...</p>

    <div class="fast-mode-container" *ngIf="userIs() === 'host'" (click)="toggleFast()">
        <p [ngClass]="{'fast-rotate': rpsGame.fastMode}" class="material-symbols-outlined" id="bolt">bolt</p>
        <p class="hyper-tooltip"><abbr
                title="Use number keys while buttons are focused to submit choice">LightningRPS</abbr></p>
    </div>
</div>