<link rel="stylesheet"
    href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<aside class="chat-users">
    <app-chat-user-dash *ngFor="let user of users" [user]="user" class="chat-dash users"
        [ngClass]="{selected: user === selected}" (click)="toggleSelected(user.id)" [@fadeInOut]>
    </app-chat-user-dash>
</aside>

<aside class="chat-rooms">
    <h3 class="rooms-banner">Rooms</h3>

    <!--Room form-->
    <div class="add-room">
        <form class="room-form" *ngIf="showRoomForm" [@toggleBox] (ngSubmit)="createRoom()">
            <input placeholder="Name your room" type="text" autocomplete="off" [(ngModel)]="newRoomName"
                name="newRoomName" autofocus>
        </form>
        <i *ngIf="!showRoomForm" (click)="toggleRoomForm()" class="material-symbols-outlined">add_circle</i>
        <i *ngIf="showRoomForm" (click)="toggleRoomForm()" class="material-symbols-outlined">remove_circle</i>
    </div>

    <!--Chat rooms-->
    <app-room-dash *ngFor="let roomTup of getRoomEntries()" [ngClass]="{selected: roomTup[1] === selected}"
        [activeUser]="activeUser" [room]="roomTup[1]" class="chat-dash rooms" (onJoinRoom)="joinRoom(roomTup[0])"
        (onLeaveRoom)="leaveRoom(roomTup[0])" (click)="toggleSelected(roomTup[0])">
    </app-room-dash>

    <!--RPS rooms-->
    <h4 class="rooms-banner duels" *ngIf="rpsRooms.size > 0" [@fadeInOut]>Duels</h4>
    <div *ngFor="let room of getRPSEntries()" class="chat-dash challenge-room" (click)="toggleSelected(room[0])"
        [ngClass]="{selected: room[1] === selectedRPS}">
        <div class="versus">
            <p>{{room[1].name}}</p>
            <!-- <p class="vs">vs</p> -->
            <!-- <p>{{room._challenged.username}} : {{room.challengedScore}}</p> -->
        </div>
    </div>

</aside>

<!-- Chat Box-->
<app-chat-box class="chat-box" [ngClass]="{split: showGame}"
    *ngIf="selected && (isInstanceOfChatUser(selected) || isInstanceOfRoom(selected))" [messages]="messages"
    [selected]="selected" [activeUser]="activeUser" [isInRoom]="isInRoom" [getRPSEntries]="getRPSEntries" [@toggleBox]>
</app-chat-box>

<!-- RPS Game Box -->
<div class="game-box" *ngIf="selectedRPS" [@fadeInOut]>
    <app-rps-game class="rps-game" [activeUser]="activeUser" [rpsGame]="selectedRPS">
    </app-rps-game>
</div>